# Spring Config
spring:
  application:
    name: product-service

  datasource:
    url: ${DATABASE_URL:jdbc:h2:mem:product-db}
    driverClassName: ${DATABASE_DRIVER:org.h2.Driver}
    username: ${DATABASE_USERNAME:sa}
    password: ${DATABASE_PASSWORD:}

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    properties:
      hibernate:
        dialect: ${DATABASE_DIALECT:org.hibernate.dialect.H2Dialect}
        show_sql: false
        format_sql: true
    hibernate:
      ddl-auto: update

  cache:
    type: caffeine

# Caffeine Config
cache:
  default-spec:
    ttl: 3
    max-size: 2000

  specs:
    products:
      ttl: 6
      max-size: 4000

#Server Config
server:
  port: 8081

# Eureka Config
eureka:
  client:
    registry-fetch-interval-seconds: ${EUREKA_CLIENT_REGISTRY-FETCH-INTERVAL:15}
    healthcheck:
      enabled: true
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka/}

  instance:
    hostname: ${EUREKA_INSTANCE_HOSTNAME:localhost}
    prefer-ip-address: true
    ip-address: ${EUREKA_INSTANCE_IP-ADDRESS:127.0.0.1}
    instance-id: ${eureka.instance.ip-address}:${spring.application.name}:${server.port}
    lease-renewal-interval-in-seconds: ${EUREKA_HEARTBEAT_INTERVAL:30}
    lease-expiration-duration-in-seconds: ${EUREKA_LEASE_EXPIRATION:90}

# Actuator Config
management:
  endpoints:
    web:
      exposure:
        include: health, info

# App Config
app:
  api-prefix: ${API_PREFIX_PATH:/api}